:root {
  --primaryColor: rgb(17, 198, 230);
  --grayColor: rgb(207, 207, 207);
  --greenColor: rgb(21, 206, 144);
  --bg: rgb(230, 243, 245);
}


* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}

.newBook {
  background-color: var(--primaryColor);
  color: white;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

button.newBook, button.delete {
  box-shadow: var(--grayColor) 4px 4px 4px;
}

button:hover {
  filter: brightness(90%);
  transition: 0.5s;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

button.newBook {
  margin-bottom: 20px;
  padding: 10px 30px;
}

button.newBook:hover {
  animation: bubble 0.4s ease-out;
}

dialog {
  border: none;
  border-radius: 5px;
  box-shadow: rgb(179, 179, 179) 8px 8px 8px;
}

dialog.newBook form {
  display: grid;
  grid-template: repeat(200px, 5) / 1fr 4fr;
  gap: 10px;
}

dialog label {
  grid-column: 1;
}

dialog input {
  grid-column: 2;
  justify-self: left;
  border: solid 1px var(--grayColor);
  border-radius: 5px;
  
}

dialog button {
  grid-column: span 2;
  color: white;
  width: 50%;
  justify-self: center;
  box-shadow: rgb(92, 92, 92) 4px 4px 4px;
}

button.submit {
  background-color: var(--greenColor);
}

button.cancel {
  background-color: white;
  color: var(--greenColor);
}

button.delete {
  color: red;
}

button.book, button.delete {
  background-color: var(--bg);
}

.bookTable {
  display: grid;
  width: clamp(75vw, 85vw, 90vw);
}

.bookTable thead {
  font-style: normal;
  font-weight: bold;
}

tr {
  display: grid;
  grid-template-columns: repeat(2, 3fr) 75px repeat(2, 55px);
  border-bottom: solid 1px var(--grayColor);
  gap: 20px;
}

td {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.title, .author {
  justify-content: flex-start;
}

tbody .title {
  font-style: italic;
}

footer {
  margin-top: 40px;
}